@import "./../../../assets/styles/app.scss";

.row {
  &-sidebar {
    width: 15%;
  }
  &-pages {
    width: 85%;
  }
  &:has(.hidden-sidebar){
    .row-pages {
      width: 100%;
    }
  }
  .hidden-sidebar {
    display: none;
  }
}
@include sm-screen {
  .row-sidebar {
    width: 25% !important;
  }
}
