@import "./../../../assets/styles/app.scss";

.row {
  &-sidebar {
    width: 15%;
    @include sm-screen {
      width: 25% !important;
    }
  }
  &-pages {
    width: 85%;
  }
  &:has(.hidden-sidebar) {
    .row-pages {
      width: 100%;
    }
  }
  .hidden-sidebar {
    display: none;
  }
}
